@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: rgb(54, 158, 90);
}

.first-page {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-weight: 500;
    font-size: 40px;
}

.block-text {
    margin-top: 2%;
    text-align: center;
    font-size: 27px;
    width: 750px;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
}