@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: rgb(255, 0, 195);
}

.first-page {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-weight: 500;
    font-size: 40px;
}

.block-text {
    margin-top: 2%;
    text-align: center;
    font-size: 27px;
    width: 750px;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.comments {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 2%;
    font-weight: 500;
    font-size: 40px;
}

summary {
    cursor: pointer;
}

.comment {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 5px;
}
.text {
    font-size: 20px;
}

input {
    width: 85%;
    height: 40px;
    border-radius: 13px;
    padding-left: 10px;
    margin-bottom: 50px;
    background: none;
    backdrop-filter: brightness(80%);
    border: none;
    font-size: 23px;
    font-weight: 500;
}

input::placeholder {
    color: white;
}

button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 13px;
    background: none;
    backdrop-filter: brightness(80%);
    border: none;
    cursor: pointer;
}
